<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
  <br>
  <strong>Маршрут:</strong>
  <% if @train.route %>
    <%= @train.route.name %>
  <% else %>
    не указан
  <% end %>
</p>

<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
