<p id="notice"><%= notice %></p>

<h1>Railways Stations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @railways_stations.each do |railways_station| %>
      <tr>
        <td><%= railways_station.title %></td>
        <td><%= link_to 'Show', railways_station %></td>
        <td><%= link_to 'Edit', edit_railways_station_path(railways_station) %></td>
        <td><%= link_to 'Destroy', railways_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Railways Station', new_railways_station_path %>
