<%= form_for(wagon_type) do |f| %>
    <%= render 'common/errors', resource: wagon_type %>

    <div class="field">
      <%= f.label :name, 'Название' %>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit "#{wagon_type.new_record? ? 'Создать' : 'Изменить'}" %>
    </div>
<% end %>