<h1><%= t('.title') %></h1>
<table class="table">
  <thead>
  <tr>
    <th><%= t('.train_number') %></th>
    <th><%= t('.departure_station') %></th>
    <th><%= t('.arrival_station') %></th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
    <%= render @tickets %>
  </tbody>
</table>