<h1>Ваш билет:</h1>
<strong>Номер поезда</strong>
<%= @ticket.train ? @ticket.train.number : 'не указан' %>
<br>
<strong>Станция отправления</strong>
<%= @ticket.start_station ? @ticket.start_station.title : 'не указана' %>
<br>
<strong>Станция прибытия</strong>
<%= @ticket.end_station ? @ticket.end_station.title : 'не указана' %>
<br>
<strong>ФИО:</strong>
<%= @ticket.fio ? @ticket.fio : 'не указано' %>
<br>
<strong>Пасспорт:</strong>
<%= @ticket.passport ? @ticket.passport : 'не указан' %>