<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
  <br>
  <strong>Список поездов на маршруте:</strong>
  <br>
  <% if @route.trains %>
    <% @route.trains.each do |train| %>
      <%= train.number %><br>
    <% end %>
  <% else %>
    нет поездов
  <% end %>
  <br>
  <strong>Список станций в маршруте:</strong>
  <br>
  <% if @route.railway_stations.empty? %>
    нет станций
  <% else %>
    <% @route.railway_stations.each do |station| %>
      <%= station.title %><br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Изменить', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
